---
layout: default
title: Blog
---
<section>
	<p>
		Most professional websites don't show what anthropologists like to call
		“messy humans”. This page leans into the messiness and the work in progress
		of my research, thinking, and writing that is not shown on my github or mastodon
		account.
	</p>

	<p>
		The plan is to upload new blogs haphazardly, share first drafts and half-baked thoughts.
		The foci will lie on waste management and energy systems but might occasionally
		expand beyond to include other aspects including themes around science and
		technology studies.
	</p>

	<p>
		A running list of texts from which my research builds further can be found here:
		<br>
		<a href="https://www.zotero.org/christophbecker/library">zotero.org/christophbecker/library</a>
		<br>
	</p>

	<p>
		Like a good geriatric millennial, I do not own a tv or a subscription to any
		video streaming services, but I am a fan of podcasts, substacks, and mailinglists
		and will list my favorites here:
	</p>
	<div class="divider"></div>
</section>

<section>

	<div class="center">
		<h1 class="title">Blog</h1>
	</div>

	<div class="divider"></div>

	{% assign sorted = (site.blog | sort: date) | reverse %}
	{% for post in sorted %}
	{% unless post.next %}
	<h3 class="code">{{ post.date | date: '%Y' }}</h3>
	{% else %}
	{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	{% if year != nyear %}
	<h3 class="code">{{ post.date | date: '%Y' }}</h3>
	{% endif %}
	{% endunless %}

	<ul>
		<li>
			<div class="post-date code">
				<span>{{ post.date | date: "%b %d" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">

					<div class="container">
						<img src="{{ post.imageurl }}" alt="" style="width: 100%;">
						<div class="overlay">
							<div class="imagetext">Image description: {{ post.imagedsc }}</div>
						</div>
					</div>
					{{ post.title }}
				</a>
			</div>
		</li>
	</ul>

	{% endfor %}

</section>