---
layout: default
---

<section>
<p>
Hello, I am Christoph Becker, a PostDoc at the <a href="https://ibed.uva.nl/">Institute for Biodiversity and Ecosystem Dynamics</a> and the <a href="https://ias.uva.nl/">Institute for Advanced Study</a> where I develop modelling methodologies for analysing complex systems focusing on the energy transition in the Netherlands. Together with a team of experts from across the university I am setting up the <a href="https://polder.center/">POLDER Center</a> for policy decision-support that will bring stakeholders from industry and governance together with academics to champion tomorrows challanges.
</p>

<p>
*Seminar Series*
<br>
I am currently organising the <a href="https://www.sbscommunity.nl/sbs-mission/">Simulation based Science</a> seminar series of IAS. If you would like to receive invitations to events you can sign up <a href="https://forms.gle/BgcUM2NJxbSsrBiY6">here</a>. If you would like to present, don't hesitate to ask by sending an Email to sbs@computationalscience.nl
</p>

<p>
*BSc/MSc Thesis*
<br>
I have multiple <a href="https://christovis.github.io//research">projects</a> for Computer Science, Data Science, and Artificial Intelligence students. Just drop me a message if you are interested.
</p>
<div class="divider"></div>

</section>

<section>

	<div class="center">
		<h1 class="title">Recent Activites</h1>
	</div>

	<div class="divider"></div>

	{% assign sorted = ((site.documents | sort: date) | reverse) %}
	{% assign recent_activities = "" | split: "/" %}
	{% for post in sorted limit:5 %}
		{% assign recent_activities = recent_activities | push: post %}
	{% endfor %}
	{% assign recent_activities = (recent_activities | group_by: "type") %}
	{% for group in recent_activities %}
		{% assign anitem = group.items | first %}
		<h3 class="code" style="text-transform: capitalize;">{{ anitem.type }}</h3>
		{% for item in group.items %}
			<ul>
				<li>
					<div class="title">
						<a href="{{ item.url | prepend: site.baseurl | prepend: site.url }}">
                            <div class="container">
                                <img src="{{ item.imageurl }}" title="{{ item.imagedsc }}" alt="" style="width: 100%;">
                                <div class="overlay">
                                    <div class="imagetext">Image description: {{ item.imagedsc }}</div>
                                </div>
                            </div>
                            {{ item.title }}
						</a>
					</div>
				</li>
			</ul>
    {% endfor %}
	{% endfor %}

</section>
